body {
}

#main {
	float:left;
}

.sub {
	float:left;
	clear:both;
	margin:20px 0 10px 20px;
	padding:10px;
	border:1px solid black;
	width:auto;
}

.label {
	float:left;
	width:120px;
}

.entity {
	float:left;
	clear:both;
	width:auto;
	padding: 5px;
}

.field {
	float:left;
}

.btnCalculate {
	float:left;
	clear:both;
	margin:10px 0 0 5px;
}